# Python 파일 제외
*.py

# 루트 디렉토리의 이미지 파일 제외
/*.png
/*.jpg
/*.jpeg
/*.gif
/*.bmp
/*.tiff
/*.ico
/*.webp
/*_combined_*.png
/*_colored_*.png
/grayscale_*.png
/original*.png

# 필요한 이미지 폴더 외의 다른 폴더 제외
/**/
!/body/
!/head/

# 기타 제외할 파일들
.DS_Store
*.log
.vscode/
.idea/
__pycache__/
*.pyc 